.tabs .tab a{
    color: black;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee;
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
    color: black;
    background-color: #ffebee;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: #B71C1C;
} /*Color of underline*/